* {
  color: #5a373d;
  background-color: #ffbed0;
  max-width: 450px;
  text-decoration: none;
  border-radius: 3px;
}

p {
  background-color: transparent;
}

h2 {
  background-color: transparent;
}

h1 {
  background-color: transparent;
}

button {
  background-color: white;
  border: none;
  width: 90%;
  height: 60px;
}

textarea {
  background-color: white;
}

div {
  background-color: transparent;
}
