.calendar {
  background-color: rgba(255, 255, 255, 0.884);
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 4;
}

.calendar .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  margin-top: 10px;
  margin-bottom: 10px;
}

.circulo2 {
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}

.yes::after {
  content: "\1F4AE";
  color: rgba(255, 255, 255, 0.445);
  font-size: 1px;
  text-align: center;
  animation: spin2 3s  , surgir2 1s forwards ;

}

.no::after {
  content: "\1F338";
  color: rgba(255, 255, 255, 0.445);
  font-size: 1px;
  text-align: center;
  animation: spin2 3s  , surgir2 1s forwards ;
}

@keyframes surgir2 {
  to {
    font-size: 30px; 
  }
}

@keyframes spin2 {
  to {
    transform: rotate(360deg);
  }
}

.container button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;


  width: 14.28%;
  height: 40px;
}
