.calendarTracker {
  background-color: transparent;
  position: fixed;
  left: 0;
  right: 0;
  width: 95%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendarTracker h2 {
  align-self: flex-start;
  margin-left: 30px;
}

.arvore {
  position: absolute;
  background-color: transparent;
  z-index: 1;
  margin-top: 120px;
  opacity: 20%;
}