.calendarTracker {
  background-color: transparent;
  position: fixed;
  left: 0;
  right: 0;
  width: 95%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendarTracker button {
  width: 130px;
  align-self: flex-start;
}

.monthButton {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3px;
}

.calendarTracker button h2 {
  font-size: 25px;
}

.arvore {
  position: absolute;
  background-color: transparent;
  z-index: 1;
  margin-top: 120px;
  opacity: 40%;
}