.modal {
  background-color: rgb(79, 128, 148);
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;

  transform: translateY(-50%);
  top: 60%;
  width: 96%;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 50;
  opacity: 50%;
  animation: nascer 1s forwards;
}

.desmontar {
  background-color: rgb(79, 128, 148);
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;

  transform: translateY(-50%);
  top: 50%;
  width: 96%;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 100;

  opacity: 100%;
  animation: desmontar 0.5s forwards;
}

.modal img, .desmontar img {
  width: 30px;
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header button {
  background-color: transparent;
  position: fixed;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 80%;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h3 {
  margin-right: 50% ;
  margin-bottom: 10px;
  background-color: transparent;
}

textarea {
  resize: none;
  width: 70%;
  border-style: none;
  outline: none;
  
  padding: 10%;
}

textarea :focus {
  outline: none;
}

.final {
  margin-top: 10px;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.box {
  height: 100px;
  width: 48.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.final button {
  height: 46px;
  width: 100%;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circulo {
  width: 100%;
  height: 100%;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.aa {
  text-shadow: white 0px 0px 0px;
}

.bb {
  text-shadow: violet 0px 0px 0px;
}

.cc {
  text-shadow: rgba(0, 0, 255, 0.664) 0px 0px 0px;
}

.dd {
  text-shadow: rgba(69, 243, 69, 0.843) 0px 0px 0px;
}

.ee {
  text-shadow: rgb(255, 255, 72) 0px 0px 0px;
}

.ff {
  text-shadow: orange 0px 0px 0px;
}

.gg {
  text-shadow: red 0px 0px 0px;
}

.ii {
  text-shadow: rgb(0, 0, 0) 0px 0px 0px;
}

.sim::after {
  content: "\1F4AE";
  font-size: 30px; 
  text-align: center;
  animation: spin 10s infinite linear, surgir 0.5s forwards ;
  color: rgba(255, 255, 255, 0.445);
  opacity: 0%;
}

.nao::after {
  content: "\1F338";
  font-size: 30px;
  text-align: center;
  animation: spin 10s infinite linear, surgir 0.5s forwards ;
  color: rgba(255, 255, 255, 0.445);
  opacity: 0%;
}

.deletModal {
  z-index: 110;
  background-color: rgb(207, 176, 176);
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;

  transform: translateY(-50%);
  top: 50%;
  width: 94%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.deletModal button {
  font-weight: 100;
  font-size: 16px;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 13px;
}

.deletModal h3, span {
  background-color: transparent;
  color: black;
}

.deletModal div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes surgir {
  to {
    opacity: 100%;
    font-size: 75px; 
  }
}

@keyframes nascer {
  to {
    opacity: 100%;
    top: 50%;
  }
}

@keyframes desmontar {
  to {
    top:40%;
    opacity: 0%;
  }
}

/* alternate-reverse infinite */