.modal {
  background-color: #ffbed0;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;

  transform: translateY(-50%);
  top: 55%;
  width: 96%;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 50;

  animation: nascer 0.5s forwards;
}

.modal button {
  background-color: rgba(255, 255, 255, 0.466);
}

::placeholder {
  color: #5a373d3f;
}

.desmontar {
  background-color: #ffbed0;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;

  transform: translateY(-50%);
  top: 50%;
  width: 96%;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 100;
  animation: desmontar 0.5s forwards;
}

.desmontar button {
  background-color: rgba(255, 255, 255, 0.322);
}

.modal img, .desmontar img {
  width: 30px;
  background-color: transparent;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header button {
  background-color: transparent;
  position: fixed;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 80%;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h3 {
  margin-right: 50% ;
  margin-bottom: 10px;
  background-color: transparent;
}

textarea {
  resize: none;
  width: 70%;
  border-style: none;
  outline: none;
  padding: 10%;
}

textarea :focus {
  outline: none;
}

.final {
  margin-top: 10px;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.box {
  height: 100px;
  width: 48.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.final button {
  height: 46px;
  width: 100%;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circulo {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.322);

  display: flex;
  justify-content: center;
  align-items: center;
}

.aa {
  text-shadow: white 0px 0px 0px;
}

.bb {
  text-shadow: violet 0px 0px 0px;
}

.cc {
  text-shadow: rgba(0, 0, 255, 0.664) 0px 0px 0px;
}

.dd {
  text-shadow: rgba(69, 243, 69, 0.843) 0px 0px 0px;
}

.ee {
  text-shadow: rgb(255, 255, 72) 0px 0px 0px;
}

.ff {
  text-shadow: orange 0px 0px 0px;
}

.gg {
  text-shadow: red 0px 0px 0px;
}

.ii {
  text-shadow: rgb(0, 0, 0) 0px 0px 0px;
}

.sim::after {
  content: "\1F4AE";
  font-size: 30px; 
  text-align: center;
  animation: spin 10s infinite linear, surgir 0.5s forwards ;
  color: rgba(255, 255, 255, 0.445);
}

.nao::after {
  content: "\1F338";
  font-size: 30px;
  text-align: center;
  animation: spin 10s infinite linear, surgir 0.5s forwards ;
  color: rgba(255, 255, 255, 0.445);
}

.deletModal {
  z-index: 110;
  background-color: #fcba84;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;

  transform: translateY(-50%);
  top: 55%;
  width: 94%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: deletModalNascer 0.5s forwards;
}


.deletModalDesmontar {
  z-index: 110;
  background-color: #fcba84;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;

  transform: translateY(-50%);
  top: 50%;
  width: 94%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: deletModalDesmontar 0.5s forwards;
}

@keyframes deletModalNascer {
  to {
    top: 50%;
  }
}

@keyframes deletModalDesmontar {
  50% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}

.deletModal button {
  font-weight: 100;
  font-size: 16px;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 13px;
  height: 46px;
}

.deletModal h3, span {
  background-color: transparent;
}

.deletModal div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.deletModalDesmontar button {
  font-weight: 100;
  font-size: 16px;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 13px;
  height: 46px;
}

.deletModalDesmontar h3, span {
  background-color: transparent;
}

.deletModalDesmontar div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes surgir {
  to {
    font-size: 75px; 
  }
}

@keyframes nascer {
  to {
    top: 50%;
  }
}

@keyframes desmontar {
  50% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}

.modalMonths {
  background-color: #ffbed0;
  position: fixed;
  width: 97%;
  display: flex;
  flex-direction: column;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  z-index: 500;
  max-height: 500px;
  overflow-y: auto;
}

.modalMonths h2, h3, p, span {
  color: #5a373d;
}

.containerMonth {
  display: flex;
  flex-direction: column;
}

.containerMonth button {
  width: 43%;
  margin: 10px;
}

.containerMonth .clearAll {
  align-self: center;
  background-color: rgb(253, 67, 67);
  width: 91%;
}

.containerMonth .clearAll p {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

.titleModalMonth {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.titleModalMonth img {
  background-color: transparent;
  width: 30px;
}

.titleModalMonth button{
  position: fixed;
  right: 16px; 
  margin-top: 14px;
  width: 35px;
  height: 30px;
  background-color: transparent;
}

.days button p, button span{
  width: 100%;
  height: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.days button {
  padding: 0;
  margin: 0;
}

.modalClearAll {
  background-color: red;;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 96%;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  top: 80%;
}

.modalClearAllText{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-top: 20px;
}
.modalClearAllText strong {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: transparent;
}

.modalClearAllButtons {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-self: center;
}

.modalClearAllButtons button {
  width: 42%;
}

.vidro {
  border-radius: 0px;
  z-index: 3;
  top: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 1300px;
  background-color: rgba(0, 0, 0, 0.685);
}