.guide, .guideContainer, .gradientColor {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gradientColor {
  flex-direction: column;
  align-items: center;
}

.guide {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.guide .flowers {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flowers div {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.flowers span {
  font-size: 80px;
  background-color: transparent;
  animation: spin 20s infinite linear ;
}

.guide .values {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 0;
  margin: 0;
}

.guide .color {
  z-index: 2;
  margin-top: 40px;
  width: 95%;
  height: 40px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,130,238,1) 16%, rgba(20,44,225,1) 32%, rgba(74,200,93,1) 50%, rgba(236,219,79,1) 68%, rgba(250,179,31,1) 86%, rgba(231,21,21,1) 100%);
}