.guideContainer {
  width: 96%;
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 230px;
}


.guideContainer .tableContainer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.guideContainer h2 {
  margin-left: 20px;
  font-weight: 600;
}

.tableValues div {
  height: 30px;
  display: flex;
  align-items: center;
  width: 180px;
}

.tableValues{
  margin-left: 14px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
}

.tableValues p {
  margin-left: 8px;
  font-weight: 600;
}



.simT::after {
  content: "\1F4AE";
  display: flex;
  font-size: 4px; 
  text-align: center;
  animation: spinT 10s infinite linear, surgirT 0.5s forwards ;
  color: rgba(255, 255, 255, 0.445);
}

.naoT::after {
  content: "\1F338";
  display: flex;
  font-size: 4px;
  text-align: center;
  animation: spinT 10s infinite linear, surgirT 0.5s forwards ;
  color: rgba(255, 255, 255, 0.445);
}


@keyframes spinT {
  to {
    transform: rotate(360deg);
  }
}

@keyframes surgirT {
  to {
    font-size: 16px;
  }
}