body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  background-color: transparent;
  color: white;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 300;
}

p, span {
  font-weight: 390;
  font-size: 14px;
}   

code {
  font-family: monospace, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
